.container-stacker {
  display: grid;
}

.content-stacker {
  grid-area: 1 / 1;
}

.content-stacker-title {
  grid-area: 1 / 1;
  margin-top: 1.5em;
}

.index-boulder_map-heart {
  width: 30px;
  margin-top: 2em;
  margin-left: 2em;
}

.index-footer-heart {
  width: 30px;
}

.index-footer-wrapper {
  width: 200px;
  height: 200px;
  vertical-align: middle;
  text-align: center;
  display: table-cell;
}

.container-stacker-footer {
  width: 200px;
  height: 200px;
  vertical-align: middle;
  text-align: center;
  display: table-cell;
}
